.carousel-indicators {
  position: relative !important;

  button {
    text-indent: 0 !important;
    width: initial !important;
    height: initial !important;
    padding: 0.5rem !important;
    margin: 0 !important;
  }
}

.carousel-item {
  //height: 200px;
  width: 200px;

  video {
    height: 100%;
    width: 100%;
  }
}

.tab {
  height: 100px;
  width: 100px;

  img {
    height: 100%;
    width: 100%;
  }
}
