@import "scss/gradient-classes";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/mixins/breakpoints";
@import "bootstrap/scss/variables";

#layout {
  display: grid;
  grid-template-areas:
    "bannerSection"
    "navigationSection"
    "contentSection"
    "footerSection";
}
/*****************************
#page-layout * {
  border: dotted gray;
}
/*****************************/
#Banner {
  grid-area: bannerSection;
  height: 9rem;
  display: grid;
  align-items: center;

  * {
    text-align: center;
  }
  .subtitle {
    margin-bottom: 0;
  }
}

#Navigation {
  grid-area: navigationSection;
  position: sticky;
  top: 0;
  z-index: 1;

  display: grid;
  //grid-template-columns: auto auto;
  //justify-content: space-between;
  overflow-x: scroll;

  .navbar {
    padding: 0;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100vw !important;
  }
}

// #navigation {
//   grid-area: navigation;
//   display: grid;
//   grid-template-areas: ". . .";

//   .item {
//     padding-right: 1rem;
//   }
// }
// #account {
//   grid-area: account;
//   display: grid;
//   grid-template-areas: ". . .";

//   .item {
//     padding-left: 1rem;
//   }
// }
// #mainArea {
//   grid-area: mainArea;

//   display: grid;
//   grid-template-areas: "sidebarSection contentArea";
//   grid-template-columns: max-content auto;
// }
//#contentArea {
#Content {
  //grid-area: contentArea;
  min-height: 97vh;
  //padding-bottom: 40vh;
  //overflow-x: hidden;

  //display: grid;

  // @include media-breakpoint-up(sm) {
  //   grid-template-areas: "contentSection" "outputSection";
  // }
  // @include media-breakpoint-up(lg) {
  //   grid-template-areas: "contentSection outputSection";
  // }
}
#Content {
  grid-area: contentSection;
  padding: 1rem 1rem 40vh 1rem;

  .info {
    align-self: center;
    padding: 1rem;
    max-width: 50rem;
    margin: auto;
    text-align: center;
  }
  .badges {
    max-width: max-content;
  }
}
#Sidebar {
  grid-area: sidebarSection;
  max-height: 95vh;
  padding-bottom: 10rem;
  overflow-y: scroll;
  //overflow-y: hidden;

  display: grid;

  .sidebar {
    width: 25vw;
  }

  .title {
    @include rfs(3.3vw, "font-size");
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

#contentArea {
  grid-area: content;
  width: 100%;

  p {
    text-align: justify;
  }
  .title {
    margin-bottom: 0;
  }
  .author {
    font-style: italic;
    font-size: large;
    margin-top: 0;
  }
  .pic {
    display: grid;
    justify-content: space-around;
  }
}

#Output {
  grid-area: outputSection;
  margin-left: 2rem;
  overflow-x: scroll;

  display: grid;
  @include media-breakpoint-up(lg) {
    margin-top: 1rem;
  }
}

#Footer {
  grid-area: footerSection;
  position: sticky;
  bottom: 0;
  overflow-x: scroll;

  .navbar {
    padding: 0;
    margin: auto;
  }
}

/* HIDE SCROLLBAR FOR CHROME, SAFARI AND OPERA */
::-webkit-scrollbar {
  display: none;
}
/* HIDE SCROLLBAR FOR IE, EDGE AND FIREFOX */
* {
  -ms-overflow-style: none; /* IE AND EDGE */
  scrollbar-width: none; /* FIREFOX */
}
