/*****************************************
* GLOBAL
*****************************************/
@import "./scss/_fonts-custom.scss"; //ACCESS FONT VARIABLES
$fontFamily: $fontModern; //SET THIS TO A FONT VARIABLE OR NULL
@import "./scss/_fonts-loader.scss"; //LOAD THE FONT FAMILY

$use-customized-bootstrap-colors: true;
@import "./scss/_colors-custom.scss";

@import "./scss/_index.scss";
//$enable-gradients: true;
@import "./scss/_gradient-mixins.scss";
@import "./scss/_gradient-classes.scss";
//@import "./scss/_layout.scss";

//NOTE: @import bootstrap.scss should be
//after your Bootstrap edits because
//Bootstrap will map your edits into its classes
// @import "./scss/_bootstrap/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  @if $fontFamily {
    font-family: $fontFamily;
  }
}

// body {
//   font-family: $fontFamily;
// }

/*****************************************
* ID SELECTORS
******************************************/
// #mainArea {
#Content {
  color: $primary;
  @include gradient($dark);
}
#Banner {
  color: $primary;
  @include gradientRadial($dark);
}
#Footer {
  color: $info;
  @include gradient($secondary);
}

#Navigation {
  @include gradient($info);
}
/*****************************************
* CLASS SELECTORS
******************************************/

/*****************************************
* ELEMENT SELECTORS
******************************************/
html {
  background-color: $dark;
}
svg {
  path {
    fill: $primary;
  }
}
