@import "colors-bootstrap.scss"; //ACCESS GLOBAL VARIABLES

//CHANGE THIS VALUE IN THE MAIN SCSS FILE
//THEN IMPORT THIS FILE
$use-customized-bootstrap-colors: false !default;

//CUSTOM COLORS
$babyBlue: #00b3ff;

@if $use-customized-bootstrap-colors {
  //NOTE:
  //THESE LOCAL COLORS CAN BE ACCESSED GLOBALLY
  //IF THEY WERE DEFINED IN GLOBAL SCOPE

  //CUSTOMIZING BOOTSTRAP COLORS
  $primary: $gray-500;
  $secondary: $gray-800;
  $info: $blue-300;
  $light: $gray-600;
  $dark: black;
}
