@use "sass:list";
@import "fonts-custom.scss"; //CUSTOM FONT VARIABLES
$fontFamily: $fontModern !default; //NULL WILL USE DEFAULT FONTS

// @if $fontFamily {
//   $baseURL: "https://fonts.googleapis.com/css?family=";
//   $font: list.nth($fontFamily, 1);
//   $url: url($baseURL + $font);
//   @debug $font;

//   @import url($baseURL + $font);
// }

$baseURL: "https://fonts.googleapis.com/css?family=";
$font: list.nth($fontFamily, 1);
$url: url($baseURL + $font);
@import url($baseURL + $font);
