//CUSTOM FONT VARIABLES
$fontElegant: "Dancing Script", cursive;
$fontModern: "Roboto Flex", sans-serif;
$fontCasual: "Shadows Into Light", cursive;
$fontHandPrint: "Caveat", cursive;
$fontHandCursive: "Sacramento", cursive;
$font8Bit: "Press Start 2P", monospace;
$fontClassic: "Cormorant", serif;
$fontFuturistic: "Audiowide", fantasy;
