//@import "./_bootstrap/functions"; //REQUIRED TO ACCESS COLOR FUNCTIONS
@import "../../node_modules/bootstrap/scss/_functions.scss"; //REQUIRED TO ACCESS COLOR FUNCTIONS

@mixin gradientRadialOffset($color1, $color2) {
  $offseX: 50%;
  $offsetY: 120%;
  background-image: radial-gradient(at $offseX $offsetY, $color1, $color2);
}
// @mixin gradientHorizontal($color1, $color2) {
//   background-image: linear-gradient(to right, $color1, $color2);
// }

//INFO - https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient
@mixin gradientLinear(
  $color,
  $invert: false,
  $direction: bottom,
  $contrast: 20%
) {
  $color1: $color;
  $color2: tint-color($color, $contrast);
  @if $invert {
    $color1: $color2;
    $color2: $color;
  }
  background-image: linear-gradient(to $direction, $color1, $color2);
}
@mixin gradientVertical($color) {
  //ALIAS
  @include gradientLinear($color);
}
@mixin gradientHorizontal($color) {
  //SHORTCUT
  @include gradientLinear($color, $direction: right);
}

@mixin gradientLinearCenter(
  $color,
  $invert: false,
  $contrast: 20%,
  $center: 60%,
  $direction: bottom
) {
  $color1: $color;
  $color2: tint-color($color, $contrast);
  @if $invert {
    $color1: $color2;
    $color2: $color;
  }
  $center-start: calc((100% - $center) / 2);
  $center-end: 100% - $center-start;

  background-image: linear-gradient(
    to $direction,
    $color2,
    $color1 $center-start,
    $color1 $center-end,
    $color2
  );
}
@mixin gradientHorizontalCenter(
  $color,
  $invert: false,
  $contrast: 20%,
  $center: 60%
) {
  //ALIAS SHORTCUT
  @include gradientLinearCenter(
    $color,
    $invert,
    $contrast,
    $center,
    $direction: right
  );
  // $color1: $color;
  // $color2: tint-color($color, $contrast);
  // @if $invert {
  //   $color1: $color2;
  //   $color2: $color;
  // }
  // $center-start: calc((100% - $center) / 2);
  // $center-end: 100% - $center-start;
  // background-image: linear-gradient(
  //   to right,
  //   $color2,
  //   $color1 $center-start,
  //   $color1 $center-end,
  //   $color2
  // );
}
@mixin gradient($color) {
  //ALIAS SHORTCUT
  @include gradientHorizontalCenter($color);
}
@mixin gradientRadial($color, $invert: false, $contrast: 20%, $center: 60%) {
  $color1: $color;
  $color2: tint-color($color, $contrast);
  @if $invert {
    $color1: $color2;
    $color2: $color;
  }
  $center-start: calc((100% - $center) / 2);
  $center-end: 100% - $center-start;

  background-image: radial-gradient($color1 $center-end, $color2);
}
